* {
  margin: 0;
  padding: 0;
  max-width: 1600px;
  margin: 0 auto;
}

.open-sans {
  font-family: "Open Sans", sans-serif;
  font-optical-sizing: auto;
}
.color-white {
  color: #fff;
}
.color-green {
  color: #30b868;
}
/* Navbar Start */
#navbar {
  padding: 16px 120px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  /* background-color: #5755; */
}
.img img {
  max-width: 139px;
}
.menu a {
  font-size: 16px;
  color: #000;
  text-decoration: none;
  padding-left: 32px;
  cursor: pointer;
}
.button {
  background-color: #30b868;
  color: #fff;
  border: none;
  padding: 12px 16px;
  cursor: pointer;
  font-size: 16px;
  font-weight: 600;
  border-radius: 4px;
}
.button:hover {
  background-color: #469165;
  color: #001931;
  transition: all ease 1s;
}
/* Banner Start */
#banner {
  background-image: url("./images/hero-bg.png");
  margin: 0 auto;
  background-size: cover;
  background-repeat: no-repeat;
  vertical-align: middle;
}
.banner-box {
  text-align: center;
  justify-content: center;
  padding: 154px 341px;
}
.banner-box .button {
  padding-bottom: 16px;
  color: #30b868;
  background-color: #fff;
  padding: 8px 12px;
  cursor: pointer;
  border-radius: 999px;
}
.banner-box .button:hover {
  background-color: #4691653d;
  color: #fff;
  transition: all ease 1s;
}
.banner-box .button img {
  vertical-align: middle;
}
.banner-box h1 {
  padding-bottom: 16px;
  font-size: 72px;
  font-weight: 700;
}
.banner-box p {
  padding-bottom: 32px;
  font-size: 18px;
  color: #fff;
  line-height: 24px;
}
.banner-box .btn .btn1 {
  padding: 12px 16px;
  background-color: #30b868;
  color: #fff;
  border: none;
  cursor: pointer;
  font-size: 16px;
  font-weight: 600;
  border-radius: 4px;
  margin-right: 20px;
}
.banner-box .btn .btn1:hover {
  background-color: #469165;
  color: #001931;
  transition: all ease 1s;
}
.banner-box .btn .btn1 img {
  vertical-align: middle;
}
.banner-box .btn .btn2 {
  padding: 11px 16px;
  background-color: #30b86900;
  color: #fff;
  border: 1px solid #fff;
  cursor: pointer;
  font-size: 16px;
  font-weight: 600;
  border-radius: 4px;
  margin-left: 20px;
}
.banner-box .btn .btn2:hover {
  background-color: #00000071;
  color: #30b868;
  transition: all ease 1s;
}
.banner-box .btn .btn2 img {
  vertical-align: middle;
}
/* Card Section */
#Card {
  margin-top: 58px;
  padding-bottom: 120px;
}
#Card .card-section {
  max-width: 1360px;
  margin: 0 auto;
}
#Card .card-section h2 {
  text-align: center;
  font-size: 48px;
  font-weight: bold;
  padding-bottom: 16px;
}
#Card .card-section p {
  text-align: center;
  font-size: 16px;
  color: #627382;
  padding-bottom: 44px;
}
#Card .card-section .card-item {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 24px;
}
#Card .card-section .card-item div {
  padding: 24px;
  border: none;
  box-shadow: 0 6px 50px 0 #00000025;
  border-radius: 8px;
  max-width: 322px;
  max-height: 300px;
}
#Card .card-section .card-item img {
  margin-left: 40%;
  padding-bottom: 16px;
}
#Card .card-section .card-item h3 {
  text-align: center;
  font-size: 24px;
  font-weight: 600;
  color: #001931;
  padding-bottom: 16px;
}
#Card .card-section .card-item p {
  text-align: center;
  font-size: 16px;
  line-height: 20px;
  color: #627382;
}
/* Second Banner */
#s-banner {
  max-width: 1360px;
  margin-bottom: 120px;
}
#s-banner img {
  border-radius: 12px;
  margin-left: 120px;
  width: 600px;
  height: 600px;
}
#s-banner .s-banner-section {
  display: flex;
  margin: 0 auto;
}
#s-banner .s-banner-section .details {
  padding: 102px 0 102px 60px;
}
#s-banner .s-banner-section .details h6 {
  font-size: 16px;
  color: #30b868;
  padding-bottom: 16px;
}
#s-banner .s-banner-section .details h1 {
  font-size: 48px;
  font-weight: bold;
  color: #001931;
  padding-bottom: 16px;
}

#s-banner .s-banner-section .details p {
  font-size: 16px;
  color: #627382;
  padding-bottom: 40px;
}
#s-banner .s-banner-section .details li {
  display: flex;
  align-items: center;
  gap: 8px;
  font-size: 16px;
  list-style: none;
  padding-bottom: 16px;
}
#s-banner .s-banner-section .details li img {
  display: inline-block;
  width: 20px;
  height: 20px;
  flex-shrink: 0;
  margin: 0;
  padding: 0;
}
/* Frame Start */
#frame {
  padding: 0 120px 120px 120px;
}
#frame .frame-section {
  margin: o auto;
  padding: 80px 0;
  max-width: 1360px;
  background-color: #f7f6f2;
  text-align: center;
  border-radius: 12px;
}
#frame .frame-section h1 {
  font-size: 40px;
  font-weight: bold;
  line-height: 48px;
  padding-bottom: 16px;
}
#frame .frame-section p {
  font-size: 16px;
  color: #627382;
  padding-bottom: 24px;
}
#frame .frame-section button {
  margin-bottom: 16px;
}
#frame .frame-section button img {
  vertical-align: middle;
}
/* Footer Start */
#footer {
  background-color: #001931;
  padding: 40px 120px 24px;
  color: #ffffff;
}
#footer .footer-section {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.footer-logo .footer-logo img {
  vertical-align: middle;
}
#footer .footer-social p {
  font-size: 20px;
  margin-bottom: 16px;
}
#footer .footer-social .icons {
  display: flex;
  justify-content: space-around;
  gap: 16;
}
#footer .footer-social img {
  vertical-align: middle;
}
#footer hr {
  margin: 80px 0 30px;
}
#footer .copyright {
  font-size: 16px;
  text-align: center;
}
